@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Start of Scrollbar */
html:not(:root) {
  scrollbar-width: thin;
  scrollbar-color: #475569 #0f172a; /* Thumb: slate-600, Track: slate-900 */
}

::-webkit-scrollbar {
  @apply w-2 bg-slate-900;
}

::-webkit-scrollbar-track {
  @apply my-2 rounded-lg bg-slate-800;
}

::-webkit-scrollbar-thumb {
  @apply rounded-lg border-4 border-slate-900 bg-slate-600;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-500;
}

::-webkit-scrollbar-thumb:active {
  @apply bg-slate-400;
}
/* End of Scrollbar */

/* Start of Navbar */
.nav-indicator {
  @apply mr-4 h-px w-8 bg-slate-600 transition-all group-hover:w-16 group-hover:bg-slate-200 group-focus-visible:w-16 group-focus-visible:bg-slate-200 motion-reduce:transition-none;
}

.nav-text {
  @apply text-xs font-bold uppercase tracking-widest text-slate-500 group-hover:text-slate-200 group-focus-visible:text-slate-200;
}

.active .nav-indicator {
  @apply w-16 bg-slate-200;
}

.active .nav-text {
  @apply text-slate-200;
}
/* End of Navbar */

/* Start of Animated Name */
@keyframes float {
  from,
  to {
    transform: translateY(-0%);
  }

  50% {
    transform: translateY(-3%);
  }
}

@keyframes background-pan {
  from {
    background-position: 1000% center;
  }

  to {
    background-position: 0% center;
  }
}

#name {
  transition: transform 350ms ease;
}

#name:hover {
  transform: scale(1.1);
  transform-origin: center;
  font-size: 1em;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.75);
  border-radius: 9999px;
}

#name:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.25);
  pointer-events: none;
}

@media (min-width: 768px) {
  #name:hover {
    transform: scale(1.2);
  }
}

@media (min-width: 1440px) {
  #name:hover {
    transform: scale(1.5);
  }
}

#name span {
  display: inline-block;
}

#name > .outer {
  transition: transform 350ms ease;
}

#name:hover > .outer {
  transition-duration: 800ms;
}

#name:hover > .outer > .inner {
  animation: float 3s ease infinite;
}

#name:hover > .outer > .inner > .letter {
  background: linear-gradient(to right, #3b82f6, #22c55e, #3b82f6);
  background-size: 1000%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: background-pan 150s linear infinite;
}

#name:hover > span:nth-child(1) {
  transform: translate(-80%, 60%) rotate(8deg);
}
#name:hover > span:nth-child(2) {
  transform: translate(-40%, 20%) rotate(4deg);
}

#name:hover > span:nth-child(3) {
  transform: translate(-10%, 60%) rotate(-6deg);
}

#name:hover > span:nth-child(4) {
  transform: translate(0%, 8%) rotate(-8deg);
}

#name:hover > span:nth-child(5) {
  transform: translate(0%, -20%) rotate(5deg);
}

#name:hover > span:nth-child(6) {
  transform: translate(0%, 20%) rotate(-3deg);
}

#name:hover > span:nth-child(7) {
  transform: translate(0%, -40%) rotate(-5deg);
}

#name:hover > span:nth-child(8) {
  transform: translate(0%, 15%) rotate(10deg);
}

#name:hover > span:nth-child(9) {
  transform: translate(0%, -50%) rotate(8deg);
}

#name:hover > span:nth-child(10) {
  transform: translate(0%, 15%) rotate(-6deg);
}

#name:hover > span:nth-child(11) {
  transform: translate(50%, -10%) rotate(-3deg);
}
/* End of Animated Name */

/* Start of Aurora Text Animation */
.aurora {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  mix-blend-mode: darken;
  pointer-events: none;
}

.aurora__item {
  overflow: hidden;
  position: absolute;
  width: 60vw;
  height: 60vw;
  background-color: #00c2ff;
  border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  filter: blur(1rem);
  mix-blend-mode: overlay;
}

.aurora__item:nth-of-type(1) {
  top: -50%;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-1 12s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(2) {
  background-color: #ffc640;
  right: 0;
  top: 0;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-2 12s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(3) {
  background-color: #33ff8c;
  left: 0;
  bottom: 0;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-3 8s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(4) {
  background-color: #e54cff;
  right: 0;
  bottom: -50%;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-4 24s ease-in-out infinite alternate;
}

@keyframes aurora-1 {
  0% {
    top: 0;
    right: 0;
  }

  50% {
    top: 100%;
    right: 75%;
  }

  75% {
    top: 100%;
    right: 25%;
  }

  100% {
    top: 0;
    right: 0;
  }
}

@keyframes aurora-2 {
  0% {
    top: -50%;
    left: 0%;
  }

  60% {
    top: 100%;
    left: 75%;
  }

  85% {
    top: 100%;
    left: 25%;
  }

  100% {
    top: -50%;
    left: 0%;
  }
}

@keyframes aurora-3 {
  0% {
    bottom: 0;
    left: 0;
  }

  40% {
    bottom: 100%;
    left: 75%;
  }

  65% {
    bottom: 40%;
    left: 50%;
  }

  100% {
    bottom: 0;
    left: 0;
  }
}

@keyframes aurora-4 {
  0% {
    bottom: -50%;
    right: 0;
  }

  50% {
    bottom: 0%;
    right: 40%;
  }

  90% {
    bottom: 50%;
    right: 25%;
  }

  100% {
    bottom: -50%;
    right: 0;
  }
}

@keyframes aurora-border {
  0% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }

  25% {
    border-radius: 47% 29% 39% 49% / 61% 19% 66% 26%;
  }

  50% {
    border-radius: 57% 23% 47% 72% / 63% 17% 66% 33%;
  }

  75% {
    border-radius: 28% 49% 29% 100% / 93% 20% 64% 25%;
  }

  100% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }
}
/* End of Aurora Text Animation */